<ava-hdr-app [pageName]="'Alocações'" [icon]="'glyphicon glyphicon-user'"></ava-hdr-app>
<div class="page-content">
    <table class="table table-borded table-striped table-hover table-responsive">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Contato</th>
                <th>E-mail</th>
                <th>Responsavel</th>
                <th>Detalhes</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let allocation of allocations">
                <td>{{ allocation.id }}</td>
                <td>{{ allocation.name}}</td>
                <td>{{ allocation.contact }}</td>
                <td>{{ allocation.email }}</td>
                <td>{{ getSponsorName(allocation) }}</td>
                <td><span class="glyphicon glyphicon-folder-open" [routerLink]="['/allocations', 'details', allocation.id]"></span></td>
            </tr>
        </tbody>
    </table>
</div>