<ava-hdr-app [pageName]="'Projetos'" [icon]="'glyphicon glyphicon-user'"></ava-hdr-app>
<div class="page-content">
    <table class="table table-borded table-striped table-hover table-responsive">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Contato</th>
                <th>E-mail</th>
                <th>Responsavel</th>
                <th>Detalhes</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let project of projects">
                <td>{{ project.id }}</td>
                <td>{{ project.name}}</td>
                <td>{{ project.contact }}</td>
                <td>{{ project.email }}</td>
                <td>{{ getSponsorName(project) }}</td>
                <td><span class="glyphicon glyphicon-folder-open" [routerLink]="['/projects', 'details', project.id]"></span></td>
            </tr>
        </tbody>
    </table>
</div>